<app-task [title]="task.title" [estimation]="task.estimation"></app-task>
<button class="toggle-btn" (click)="onToggleBtnClick()">...</button>
<div [hidden]="!isOpen">
  <form class="form" (ngSubmit)="editTask(taskForm)" #taskForm="ngForm" autocomplete="off" *ngIf="editingTask">
    <div class="form-group">
      <label for="title" class="form-label">Task Title</label>
      <input id="title" class="form-control" type="text" name="title" [(ngModel)]="editingTask.title">
    </div>
    <div class="form-group">
      <label for="title" class="form-label">Estimated Tomato</label>
      <input type="number" class="form-control" name="estimation" [(ngModel)]="editingTask.estimation">
    </div>
    <div class="form-actions">
      <button class="btn btn--default">Archive</button>
      <input type="submit" class="btn btn--primary btn--block" value="Save">
    </div>
  </form>
</div>
