<div class="g-panel__header">
  <h2 class="g-panel__title">Add New Task</h2>
</div>
<!--{{ task | json}}-->
<form class="form" (ngSubmit)="onCreate()">
  <div class="form-group">
    <label for="title" class="form-label">Task Title</label>
    <input id="title" class="form-control" type="text" name="title" [(ngModel)]="task.title">
  </div>
  <div class="form-group">
    <label for="title" class="form-label">Estimated Tomato</label>
    <input type="number" class="form-control" name="title" [(ngModel)]="task.estimation">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn--primary btn--block" value="ADD TASK">
  </div>
</form>
