:host {
  display: flex;
  padding: 9px 10px;
  background-color: #414141;
  border-radius: 2px;
}

.icon {
  padding: 0 14px;
  & > img {
    width: 14px;
  }
}

.icon, .actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}
.content {
  flex-grow: 1;
  padding-right: 40px;
}

.title {
  min-height: 20px;
}

.indicators {
  display: flex;
  padding: 5px 0;
}

.indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #EA5548;
  margin-right: 5px;
}

.working-indicator {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.is-finished {
  background-color: #EA5548;
}

.is-working {
  background-color: pink;
}
