:host {
  display: flex;
  padding: 9px 10px;
  background-color: #414141;
  border-radius: 2px;
}

.icon {
  margin: 0 13px;
  min-width: 14px;
  & > img {
    width: 14px;
  }
}

.icon, .actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}
.content {
  flex-grow: 1;
  padding-right: 40px;
}

.title {
  min-height: 20px;
}

.indicators {
  display: flex;
}

