<div class="g-panel">
  <div class="g-panel__header">
    <h2 class="g-panel__title">Task List</h2>
  </div>
  <div class="g-panel__body">
    <div class="tabs">
      <a class="tab active">TODO</a>
      <a class="tab">DONE</a>
      <a class="tab">ARCHIVE</a>
    </div>
    <div class="task-list">
      <app-editable-task *ngFor="let task of tasks; index as i"
                         [task]="task"
                         [showIcon]="!!currentTask && currentTask.id === task.id"
                         [isOpen]="!!editingTask && editingTask.id === task.id"
                         (toggleBtnClick)="toggleTaskEdit(task)"
                         (taskEdit)="updateTask($event)"
                         (taskSelect)="onTaskSelect($event)"
      ></app-editable-task>
    </div>
  </div>
</div>
