.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  background-color: #414141;
  padding: 16px 0;
  align-items: center;

  &::before {
    display: block;
    content: '';
    width: 13px;
    height: 13px;
    border: 1px solid #EA5548;
    border-radius: 50%;
    margin-right: 13px;
    margin-left: 13px;
  }
}

.list-item + .list-item {
  margin-top: 1px;
}

.list-item.active:before {
  background-color: #EA5548;
}

.list-item__content {
  flex-grow: 1;
}

.play {

}
