@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

*,
*::before,
*::after {
  box-sizing: border-box;
}

app-root {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

p {
  margin-top: 0;
}

body {
  overflow: hidden;
}

.g-panel__header {
  border-bottom: 1px solid #414141;
}

.g-panel {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.g-panel__body {
  padding-top: 25px;
  padding-bottom: 25px;
  flex: 1;
  overflow-y: auto;
}

.g-panel__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1.5625rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group + .form-group {
  margin-top: 30px;
}

.form-label {
  color: #ACACAC;
  font-size: .875rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input.form-control {
  border: 0;
  background-color: white;
  padding: 16px 15px 15px 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: #333333;
  &:focus {
    outline: none;
  }
}

.btn {
  padding: 12px 15px 11px;
  border-radius: 30px;
  border: none;
  font-size: .875rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn--lg {
  padding: 17px 10px 16px 10px;
}

.btn--default {
  background-color: #606060;
  color: white;
}

.btn--primary {
  background-color: #EA5548;
  color: white;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

//.mat-tab-label {
//  padding: 20px 5px !important;k
//}


//.mat-tab-label.mat-tab-label-active {
//    padding: 0px 15px ;
//  justify-content: flex-start;
//  }

  //app-child .mat-tab-label{
  //  padding: 0px 15px ;
  //justify-content: flex-start;
  //}

//.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
//    background:#6168e7;
// }

app-root {
  .mat-tab-header {
    border-bottom: none;
  }
  .mat-tab-label {
    height: 25px;
    color: #ACACAC;
    opacity: 1;
    font-family: 'Lato', sans-serif;
    font-size: .75rem;
    font-weight: 900;
    border-radius: 8px 8px 0 0;
    padding: 5px 20px;
    min-width: 0;
    background-color: #606060;
  }

  .mat-tab-label + .mat-tab-label {
    margin-left: 5px;
  }
  .mat-tab-label-active {
    color: #FCFCFC;
    background-color: #EA5548;
  }

  .mat-ink-bar {
    display: none;
  }
}

