/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

app-root {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

p {
  margin-top: 0;
}

body {
  overflow: hidden;
}

.g-panel__header {
  border-bottom: 1px solid #414141;
}

.g-panel__body {
  padding-top: 25px;
}

.g-panel__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 1.5625rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form-label {
  color: #ACACAC;
  font-size: .875rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input.form-control {
  border: 0;
  background-color: white;
  padding: 16px 15px 15px 15px;
  border-radius: 5px;
  font-size: 1rem;
  color: #333333;
  &:focus {
    outline: none;
  }
}

.btn {
  padding: 17px 10px 16px 10px;
  border-radius: 30px;
  border: none;
  font-size: .875rem;
}

.btn--primary {
  background-color: #EA5548;
  color: white;
}

.btn--block {
  display: inline-block;
  width: 100%;
}
